{% extends 'frontend/layout.html.twig' %}



{% block subcontent %}

    <div class="h2 grid_12">&nbsp;</div>
    <div class="clear"></div>
    <div class="grid_2"><p>&nbsp;</p></div>
    <div class="grid_8" id="subcontent">

        <h2>{{ static.title }}</h2>
        <p>
            {{ static.content }}
        </p>


    </div>
    <div class="grid_2"><p>&nbsp;</p></div>
    <div class="h2 grid_12">&nbsp;</div>

{% endblock %}
