{% extends 'backend/layout.html.twig' %}

{% set iamhere = 'admin.' ~ action ~ '-' ~ entity %}

{% block subcontent %}

    <div class="row-fluid">
        <div class="span12">
            <form action="#" class="form-horizontal" method="POST">
                <legend>{{ action ~ ' ' ~ entityName }}</legend>
                {% for form_element in form %}
                    {% if form_element.field != 'id' or action == 'edit' %}
                    <div class="control-group">
                        {{ form_widget(form_element,item,errors) }}
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">
                            <i class="icon-left icon-ok-sign"></i>
                            Grabar
                        </button>
                        <button type="reset" class="btn">
                            <i class="icon-left icon-fast-backward"></i>
                            Reset
                        </button>
                        <a href="{{ urlFor('admin.list-entity',{'entity':entity}) }}" class="btn">
                            <i class="icon-left icon-list"></i>
                            Volver
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock subcontent %}
